.result__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  min-height: 90vh;
  background-color: grey;
  box-sizing: border-box;
  border: 2px solid black;
}
